/*----------------------------------------------------------------------------- 

KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet 

version:   	1.0 
date:      	07/27/11 
author:		themepunch
email:     	support@themepunch.com 
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/

/***********************
	-	BASICS 	-
***********************/
html {
	width: 100%;
	overflow-x:hidden;
	margin: 0;
	padding: 0;
}

.body-dark{
	background-color:#111;	
	background-image:url(../images/homepage/grain.png);
}

.body-light{
	background-color:#eee;	
	background-image:url(../images/homepage/grain.png);
}

ol, ul { 
    list-style: none; 
}

a{
	text-decoration:none;
}


/****************************
	-	PREVIEW SETTINGS	-
*****************************/

.centerme{
	margin-left:auto;
	margin-right:auto;		
}

/*******************************
	-	BANNER STYLES	-	
********************************/


.bannercontainer{
	max-width:940px;
	height:330px;
	background-color:#333;
	position:relative;
	margin-top:10px;	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
	

.bannercontainer ul >li{
	display:none;
}

.bannershadow{	
	margin-top:0px;
	max-width:930px;
	height:40px;
	position:relative;
}



/****************************
	-	BASIC DIVIDERS 	-
*****************************/
#small_divider {
	margin-top:8px;
}

#big_divider {
	margin-top:150px;
}
