#pageContainer {  
    width:95%;
}

.navList(){
    position: relative;
    float:left
}
    
/***** login *****/
.open {
    position:relative;
    left: 68px;
    top: -28px;
}

/***** GREEN INFO BAR *****/
#infoBarText {
    width:480px;
    margin:53px 0 0 30px;
}

#slider {
    width:700px;
    margin:53px auto;
    
}

#signup{
    position: relative;
    margin:auto;
    width:452px;
    top:-20px;
}

/***** FIND BID LEASE *****/
#findBidLease img{  
    width:95%;
}

/***** TEXT CONTENT *****/
#longContent {  
    width:95%;
}

#asSeen {
    background: url('../../images/main/large/large_asseen.png') no-repeat center;
}

#greenFooter {
    width:95%;
}

#footerLinks {
    margin:25px 30px 30px 30px;
}

#copyright{
    float:right;
}