@charset "utf-8";
/* CSS Document */

@import url("reset.css");

* { 
    margin:0;
}

html { 
    height:100%;
}

/***** BODY *****/
body {
    background: #fdfdfd url(../../images/main/main_bg.png) repeat-x;
    height:100%;
    padding:0px;
    background-repeat:repeat-x;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}
#pageContainer {  
    position: relative;
    width:960px;
    margin:0px auto;
}

/***** LOGO *****/
#logo {
    background: url('../../images/main/logo.png') no-repeat;
    width:223px;
    height:38px;
    float:left;
    margin:5px 0 0 10px;
    border:0px;
}

/***** HEADER *****/
header {  
    height:58px;
    margin:7px 0 0 0;
}

/***** NAVIGATION AREA *****/
nav {  
    height:123px;
}

#nav_wrapper{
    position: relative;
    height:40px;
    float:right;
    top:20px;
}

#login_btn{
    position:relative; 
    top: -10px
}

/***** SOCIAL MEDIA *****/
.socialMediaList {
    position:relative;
    display: block;
    left:258px;
    top: -20px;
}

.socialMediaLi {
    display:inline;
    border:0px;
}

.navList(){
    position: relative;
    width:100px;
    height:45px;
}
.navLi {
    font-size:15px;
    font-weight:bolder;
    display:inline;
    padding:0 20px 0 0;
    float:left;
}

.navLi a:link,
.navLi a:active,
.navLi a:visited {
    text-decoration:none;
    color:#111;
}

.navLi a:hover {
    color:#3e8827;
}


/***** login *****/
.open {
    position:relative;
    left: 68px;
    top: -28px;
}
.collapse{
    position: relative;
    top:-20px;
    left:65px;
}


/***** form *****/
form { 
    margin: 25px; text-align:left 
}
form textarea { 
    padding:5px; 
    width:90%; 
    height:300px;
    border:solid 1px #CCC; 
    background-color:#ffffff; 
    border:1px solid #dbdbdb; 
    padding:5px; 
    -webkit-border-radius:8px; 
    -moz-border-radius:8px; 
    border-radius: 8px;
    font-size:20px; 
    font-family:Arial, Helvetica, sans-serif; 
    color:#747474; 
}

form input{ 
    height:30px; 
    font-size:20px; 
    font-family:Arial, Helvetica, sans-serif; 
}

form ul{
    clear:both;
}

form ul li{
    margin: 10px 0 0 0;
}

form input[value=Login], 
form input[value='Get a new password']{ 
    left: 110px;
}

form input[value=Register]{
    left: 145px;
}

form input[type=submit]{
    margin-top: 10px;
}

input[type=text],input[type=password]{ 
    background-color:#ffffff; 
    border:1px solid #dbdbdb; 
    padding:5px; 
    -webkit-border-radius:8px; 
    -moz-border-radius:8px; 
    border-radius: 8px;
    height:40px; 
    font-size:20px; 
    font-family:Arial, Helvetica, sans-serif; 
    color:#747474; 
    width: 300px;
}

#login_links a{
    color:#747474;
    padding-left: 10px;
    text-decoration:underline;
}

#login_links a:hover{
    color:#3e8827;
}

label{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

table td{
    padding:5px;
}

/***** Dashboard styles *****/

#dashboard_nav li{
    float: left;
    width:100px;
    height:100px;
    margin: 5px;
    padding:10px;
    -webkit-border-radius:8px; 
    -moz-border-radius:8px; 
    border-radius: 8px;
    background: #377f30; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #377f30 0%, #54b44c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#377f30), color-stop(100%,#54b44c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #377f30 0%,#54b44c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #377f30 0%,#54b44c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #377f30 0%,#54b44c 100%); /* IE10+ */
    background: linear-gradient(135deg,  #377f30 0%,#54b44c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#377f30', endColorstr='#54b44c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#dashboard_nav li:hover{
    background: #9b7530; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #9b7530 0%, #d8bd40 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#9b7530), color-stop(100%,#d8bd40)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #9b7530 0%,#d8bd40 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #9b7530 0%,#d8bd40 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #9b7530 0%,#d8bd40 100%); /* IE10+ */
    background: linear-gradient(135deg, #9b7530 0%,#d8bd40 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b7530', endColorstr='#d8bd40',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body#properties_index li#properties_index,
body#properties_my_properties li#properties_my_properties,
body#properties_create li#properties_create{
    background: #9b7530; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #9b7530 0%, #d8bd40 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#9b7530), color-stop(100%,#d8bd40)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #9b7530 0%,#d8bd40 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #9b7530 0%,#d8bd40 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #9b7530 0%,#d8bd40 100%); /* IE10+ */
    background: linear-gradient(135deg, #9b7530 0%,#d8bd40 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b7530', endColorstr='#d8bd40',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#dashboard_nav li a{
    display:inline-block;
    width:100px;
    height:100px;
    color: #fff;
    text-align: left;
}


.dashboard_content li{
    display:inline-block;
    width:100%;
    min-height:100px;
    margin: 5px;
    -webkit-border-radius:8px; 
    -moz-border-radius:8px; 
    border-radius: 8px;
    background: #727272; /* Old browsers */
    background: -moz-linear-gradient(top,  #727272 1%, #969696 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#727272), color-stop(100%,#969696)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #727272 1%,#969696 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #727272 1%,#969696 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #727272 1%,#969696 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #727272 1%,#969696 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#727272', endColorstr='#969696',GradientType=0 ); /* IE6-9 */

}

.dashboard_content li a{
    color:#fff;
}

.dashboard_content p {
    margin: 5px 0 10px 10px;
    color: #fff;
}


h1 {
    font-size:36px;
    color:#ffb400;
    -moz-text-shadow: 1px 1px 2px #2f6a1d;
    -webkit-text-shadow: 1px 1px 2px #2f6a1d;
    text-shadow: 1px 1px 2px #2f6a1d;
}


h2 {
    font-size:20px;
    color:#ffb400;
    font-weight:normal;
    -moz-text-shadow: 1px 1px 2px #cecece;
    -webkit-text-shadow: 1px 1px 2px #cecece;
    text-shadow: 1px 1px 2px #cecece;
    margin:0 0 13px -2px;
}

h3 {
    font-size:20px;
    color:#fff;
    font-weight:normal;
    margin:10px 0 0 10px;
}


a { 
    color:#999; 
    text-decoration:none;
}

a:hover { 
    color:#333; 
    text-decoration:underline;
}


.message{
    color:#9d6601;
    padding:7px;
    border: solid 1px #9d6601;
    background: #ffeb9c;
}

/***** STICKY FOOTER *****/
.wrapper { min-height:100%; height:auto !important; height:100%; margin:0 auto -155px; /* the bottom margin is the negative value of the footer's height */ }
.push { height:155px; /* .push must be the same height as .footer */ }
footer { background-image:url('../../images/main/bg_footer.jpg'); background-repeat:repeat-x; height:155px; /* .push must be the same height as .footer */ }


#greenFooter {
    width:900px;
    margin:0px auto;
    color:#f2f2f2;
}

#asSeen {
    background: url('../../images/main/asseen.png') no-repeat;
    width:900px;
    height:208px;
}

#footerLinks {
    font-size:12px;
    padding:25px 0 0 0;
}

#footerLinks a:link,
#footerLinks a:active,
#footerLinks a:visited {
    text-decoration:none;
    color:#ffb400;
}

#footerLinks a:hover {
    text-decoration:none;
    color:#f2f2f2;
}

#copyright{
    float:right;
}

#footerSocial{
    visibility: hidden;
}

/**** My Account ****/
#edit_account{
    display:inline-block;
    vertical-align: top;
}

#counter_wrapper{
    padding-top:20px;
    float:right;
}

br { 
    clear: both; 
}
.cntSeparator {
    font-size: 54px;
    margin: 10px 7px;
    color: #000;
}
.desc { 
    margin: 7px 3px; 
}
.desc div {
    float: left;
    font-family: Arial;
    width: 70px;
    margin-right: 65px;
    font-size: 13px;
    font-weight: bold;
    color: #000;
}

